## Import

In [ ]:
import numpy as np 
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/tabular-playground-series-jun-2021/sample_submission.csv
/kaggle/input/tabular-playground-series-jun-2021/train.csv
/kaggle/input/tabular-playground-series-jun-2021/test.csv
/kaggle/input/2-tps-jun-21-comparative-method-for-classifier/submission_imp.csv
/kaggle/input/2-tps-jun-21-comparative-method-for-classifier/__results__.html
/kaggle/input/2-tps-jun-21-comparative-method-for-classifier/__resultx__.html
/kaggle/input/2-tps-jun-21-comparative-method-for-classifier/__notebook__.ipynb
/kaggle/input/2-tps-jun-21-comparative-method-for-classifier/__output__.json
/kaggle/input/2-tps-jun-21-comparative-method-for-classifier/submission_ens.csv
/kaggle/input/2-tps-jun-21-comparative-method-for-classifier/custom.css
/kaggle/input/tps6-74417/submission.csv

## Data Set

In [ ]:
train = pd.read_csv('../input/tabular-playground-series-jun-2021/train.csv')
test = pd.read_csv('../input/tabular-playground-series-jun-2021/test.csv')
sam = pd.read_csv('../input/tabular-playground-series-jun-2021/sample_submission.csv')

In [ ]:
sub1 = pd.read_csv('../input/tps6-74417/submission.csv')
# Public Score: 1.74417
# display(sub1)

In [ ]:
sub2 = pd.read_csv('../input/2-tps-jun-21-comparative-method-for-classifier/submission_imp.csv')
# Public Score: 1.74408
# display(sub2)

## Ensembling(앙상블)

In [ ]:
def generate(main, support, coeff):
    
    g = main.copy()    
    for i in main.columns[1:]:
        
        res = []
        lm, Is = [], []        
        lm = main[i].tolist()
        ls = support[i].tolist()  
        
        for j in range(len(main)):
            res.append((lm[j] * coeff) + (ls[j] * (1.- coeff)))            
        g[i] = res
        
    return g

## Smart Ensembling

In [ ]:
def generation(main, support, coeff): 
    sub1  = support.copy()
    sub1v = sub1.values    
    
    sub2  = main.copy() 
    sub2v = sub2.values
       
    imp  = main.copy()    
    impv = imp.values  
    NCLASS = 9
    number = 0
    
    for i in range (len(main)):               
        
        row1 = sub1v[i,1:]
        row2 = sub2v[i,1:]
        row1_sort = np.sort(row1)
        row2_sort = np.sort(row2) 
        
        row = (row2 * coeff) + (row1 * (1.0 - coeff))
        row_sort = np.sort(row)        
        
        for j in range (NCLASS):             
            if ((row2[j] == row2_sort[8]) and (row1[j] != row1_sort[8])):                                
                row = row2 
                number = number + 1            
        
        impv[i, 1:] = row
    
    imp.iloc[:, 1:] = impv[:, 1:]
    print(f'Number of rows unchanged: {number}')
    print(30 * '=')                                        
    return imp

In [ ]:
sub = generation(sub2, sub1, 0.55)

submission = sub

Number of rows unchanged: 2854
==============================

In [ ]:
display(submission, submission.describe().transpose())

,id,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
0,200000,0.067040,0.421861,0.165215,0.025911,0.013101,0.131111,0.019929,0.041063,0.114771
1,200001,0.043283,0.074725,0.057071,0.019914,0.014159,0.270419,0.086887,0.305166,0.128376
2,200002,0.018312,0.026426,0.017643,0.010814,0.006003,0.745033,0.024622,0.107401,0.043745
3,200003,0.049569,0.126696,0.088849,0.035006,0.017739,0.227078,0.075981,0.214502,0.164580
4,200004,0.044326,0.112312,0.081851,0.026162,0.015434,0.274271,0.071144,0.225019,0.149480
...,...,...,...,...,...,...,...,...,...,...
99995,299995,0.080424,0.366167,0.143432,0.031983,0.016844,0.103399,0.036228,0.077944,0.143579
99996,299996,0.048220,0.241859,0.131618,0.027710,0.016509,0.163051,0.052748,0.154360,0.163926
99997,299997,0.061164,0.239512,0.124694,0.029140,0.014563,0.192907,0.048204,0.137692,0.152124
99998,299998,0.035867,0.021799,0.020035,0.012003,0.011937,0.358602,0.073565,0.378850,0.087342
99999,299999,0.050602,0.084840,0.074230,0.027862,0.021903,0.273592,0.085798,0.243384,0.137788

,count,mean,std,min,25%,50%,75%,max
id,100000.0,249999.500000,28867.657797,200000.000000,224999.750000,249999.500000,274999.250000,299999.000000
Class_1,100000.0,0.045228,0.012195,0.001419,0.039596,0.045800,0.051468,0.119592
Class_2,100000.0,0.121965,0.112350,0.000886,0.041113,0.079710,0.165454,0.545398
Class_3,100000.0,0.073843,0.047920,0.000466,0.034915,0.061632,0.107586,0.247654
Class_4,100000.0,0.023485,0.007906,0.000599,0.018114,0.024585,0.029439,0.050159
Class_5,100000.0,0.015147,0.004895,0.000269,0.012354,0.015333,0.018234,0.038992
Class_6,100000.0,0.259339,0.163467,0.005087,0.158468,0.242170,0.310163,0.981797
Class_7,100000.0,0.074021,0.026893,0.001627,0.056244,0.078669,0.094574,0.138962
Class_8,100000.0,0.259409,0.117728,0.009044,0.168210,0.267626,0.351582,0.663430
Class_9,100000.0,0.127563,0.037120,0.002263,0.105780,0.133257,0.155999,0.212438

In [ ]:
submission.to_csv('submission.csv', index=False)
submission = pd.read_csv("submission.csv")
submission

,id,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
0,200000,0.067040,0.421861,0.165215,0.025911,0.013101,0.131111,0.019929,0.041063,0.114771
1,200001,0.043283,0.074725,0.057071,0.019914,0.014159,0.270419,0.086887,0.305166,0.128376
2,200002,0.018312,0.026426,0.017643,0.010814,0.006003,0.745033,0.024622,0.107401,0.043745
3,200003,0.049569,0.126696,0.088849,0.035006,0.017739,0.227078,0.075981,0.214502,0.164580
4,200004,0.044326,0.112312,0.081851,0.026162,0.015434,0.274271,0.071144,0.225019,0.149480
...,...,...,...,...,...,...,...,...,...,...
99995,299995,0.080424,0.366167,0.143432,0.031983,0.016844,0.103399,0.036228,0.077944,0.143579
99996,299996,0.048220,0.241859,0.131618,0.027710,0.016509,0.163051,0.052748,0.154360,0.163926
99997,299997,0.061164,0.239512,0.124694,0.029140,0.014563,0.192907,0.048204,0.137692,0.152124
99998,299998,0.035867,0.021799,0.020035,0.012003,0.011937,0.358602,0.073565,0.378850,0.087342
99999,299999,0.050602,0.084840,0.074230,0.027862,0.021903,0.273592,0.085798,0.243384,0.137788